body{
  background-color: #fea489;
}
li:hover {background-color: orange;font-size: 25px;}

h5:active {font-size: 150%; color: blue}
a:link{color: red;}
a:visited {color:#000000;}
    <div class="featured">
	        <h1>Quick Facts</h1>
	        <ul>
	            <li><span class="feat-title"> Age: </span>Fill in </li>
	            <li><span class="feat-title"> School: </span>fill in  </li>
	            <li><span class="feat-title"> Foods: </span>fill in</li>
	        </ul>
	          
	    </div>
